<ion-header>
    <ion-navbar>
        <ion-buttons left>
            <button ion-button icon-only menuToggle>
                <ion-icon name="menu"></ion-icon>
            </button>
        </ion-buttons>
        <ion-buttons end>
            <button ion-button icon-only (click)="onNewRecipe()">
        <ion-icon name="add"></ion-icon>
      </button>
        </ion-buttons>
        <ion-buttons right>
            <button ion-button icon-only (click)="onShowOption($event)"></button>
            <ion-icon name="more"></ion-icon>
        </ion-buttons>
        <ion-title text-center>Recipes</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <button ion-item *ngFor="let recipe of recipes; let i = index" (click)="onLoadRecipe(i, recipe)">
          <h3>{{recipe.title}}</h3>
          <ion-note>{{recipe.difficulty}}</ion-note>
        </button>
    </ion-list>
</ion-content>