<ion-header>

    <ion-navbar>
        <ion-title>{{(recipe.title)}}</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-grid>
        <ion-row>
            <ion-col text-center>
                <h2>{{recipe.title}}</h2>
                <div class="subtitle">
                    {{recipe.difficulty}}
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col text-center>
                {{recipe.desciption}}
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-list>
                    <ion-item *ngFor="let ingredient of recipe.ingredients">
                        {{ingredient}}
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col text-center>
                <button ion-button block clear (click)="onAddIngredients()">Add ingredients to shopping list</button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col text-center>
                <button ion-button (click)="onEditRecipe()">Edit Recipe</button>
            </ion-col>
            <ion-col>
                <button ion-button (click)="onDeleteRecipe()">Delete Recipe</button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>