<ion-header>
    <ion-navbar>
        <ion-buttons left>
            <button ion-button icon-only menuToggle>
                  <ion-icon name="menu"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title text-center>Signin</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <form #f="ngForm" (ngSubmit)="onSignin(f)">
        <ion-item>
            <ion-label floating>Email</ion-label>
            <ion-input type="email" ngModel name="email" required></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>Password</ion-label>
            <ion-input type="password" ngModel name="password" required></ion-input>
        </ion-item>
        <div class="signinBtn">
            <button ion-button type="submit" [disabled]="!f.valid">Signin</button>
        </div>
    </form>
</ion-content>