<ion-header>

    <ion-navbar>
        <ion-title>{{mode}} Recipe</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmits()">
        <ion-list>
            <ion-item>
                <ion-label floating ng-Model>Title</ion-label>
                <ion-input type="text" formControlName="title"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Discription</ion-label>
                <ion-textarea formControlName="description"></ion-textarea>
            </ion-item>
            <ion-item>
                <ion-label>Difficulty</ion-label>
                <ion-select formControlName="difficulty">
                    <ion-option *ngFor="let option of options" [value]=option>{{option}}</ion-option>
                </ion-select>
            </ion-item>
        </ion-list>
        <button type="button" ion-button clear block (click)="onManageIngredients()"> Manage Ingredieants</button>
        <ion-list formArrayName="ingredients">
            <ion-item *ngFor="let igControl of recipeForm.get('ingredients').controls; let i =index">
                <ion-label floating>Name</ion-label>
                <ion-input type="text" [formControlName]="i"></ion-input>
            </ion-item>
        </ion-list>
        <div class="addBtn">
            <button ion-button type="submit" [disabled]=(!recipeForm)>{{mode}}</button>
        </div>
    </form>
</ion-content>