<ion-menu [content]="nav">
    <ion-header>
        <ion-toolbar>
            <ion-title>Menu</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <button ion-item icon-left *ngIf="isAuthenticated" (click)="onLoad(tabspage)">
                <ion-icon name="book" class="icon"></ion-icon>Recipe Book
            </button>
            <button ion-item icon-left *ngIf="!isAuthenticated" (click)="onLoad(signinPage)">
                <ion-icon name="log-in" class="icon"></ion-icon>Signin
            </button>
            <button ion-item icon-left *ngIf="!isAuthenticated" (click)="onLoad(signupPage)">
                <ion-icon name="person" class="icon"></ion-icon>Signup
             </button>
            <button ion-item icon-left *ngIf="isAuthenticated" (click)="onlogout()">
                <ion-icon name="log-out" class="icon"></ion-icon>Logout
            </button>
        </ion-list>
    </ion-content>
</ion-menu>
<ion-nav [root]="tabspage" #nav></ion-nav>