<ion-header>
    <ion-navbar>
        <ion-buttons left>
            <button ion-button icon-only menuToggle>
              <ion-icon name="menu"></ion-icon>
            </button>
        </ion-buttons>
        <ion-buttons right>
            <button ion-button icon-only (click)="onShowOption($event)"></button>
            <ion-icon name="more"></ion-icon>
        </ion-buttons>
        <ion-title text-center>Shopping-List</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <form #f="ngForm" (ngSubmit)="onAddItem(f)">
        <ion-item>
            <ion-label floating>Name</ion-label>
            <ion-input type="text" name="IngredientName" ngModel required></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>Amount</ion-label>
            <ion-input type="number" name="amount" ngModel required></ion-input>
        </ion-item>
        <div class="addBtn">
            <button ion-button type="submit" [disabled]=!f.valid>Add Item</button>
        </div>
    </form>
    <ion-list>
        <ion-item-sliding *ngFor="let item of listItem,let i = index">
            <ion-item class="items">
                <h3 class="lable">{{item.name}}({{item.amount}}) </h3>
            </ion-item>
            <ion-item-options>
                <button ion-button icon-only (click)="onCheckItem(i)">
          <ion-icon name="trash"></ion-icon>
        </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>