<!--
  Generated template for the SignupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-buttons start>
            <button ion-button icon-only menuToggle>
              <ion-icon name="menu"></ion-icon>
          </button>
        </ion-buttons>
        <ion-title>Signup</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <form #f="ngForm" (ngSubmit)="onSignup(f)">
        <ion-item>
            <ion-label floating>Email</ion-label>
            <ion-input type="email" ngModel name="email" required></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>Password</ion-label>
            <ion-input type="password" ngModel name="password" required [minlength]="6"></ion-input>
        </ion-item>
        <div class="signupBtn">
            <button ion-button type="submit" [disabled]="!f.valid">Signup</button>
        </div>
    </form>
</ion-content>